<div class="container">
 <div class="width-50">
<img class="img-width" src="../../assets/image/banner.jpg"/>   
</div>
    <form class="form width-50" #form="ngForm" (ngSubmit)="form.valid && signin(form.value,form.valid)">
      <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" required [(ngModel)]="login.email" #email="ngModel" name="email" placeholder="Enter Email">
      <span class="f-red" *ngIf="email.errors && email.errors.required && email.touched">
         Email is required
        </span>
        <span class="f-red" *ngIf="email.errors && email.errors.pattern">
         Email is invalid
        </span>
        <input type="password" class="form-control"  pattern="^[a-zA-Z0-9]*$" required [(ngModel)]="login.password" #password="ngModel" name="password" placeholder="Password">
        <span class="f-red" *ngIf="password.errors && password.errors.required && password.touched">
           Password is required
          </span>
          <span class="f-red" *ngIf="password.errors && password.errors.pattern">
           Password is invalid
          </span>
      <button class="form-control" type="submit">Login</button>
      <p class="forget-text">Forget Password it's ok <b>Recover Here >></b></p>
      <hr/>
      <p class="forget-text">or you can login with one another</p>
      <button class="facebook"></button>
      <button class="twitter"></button>
      <button class="googleplus" (click)="loginUser()"></button>
      <p class="sign-text">If you don't have account please <b (click)="redirect()">Sign Up</b></p>
   
    </form>
   

</div>
